* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
}


header {
    padding: 7px 0 3px 7px;
    background: #212121;
    height: 50px;
    background: linear-gradient(90deg, rgb(53, 18, 18) 0, rgba(66, 66, 66, 1) 35%, rgba(82, 82, 82, 1) 100%);
}

header > a{
     color:aliceblue ;
     text-align: center; 
     text-decoration: none;
     width: 100px;
     text-align: left;
     display: inline;
}

.navbar{
    height: 50px;
    display: flex;
    align-items: center;

}
nav{
    flex: 1;
    text-align: left;
    text-decoration: none;
}
 nav ul li{
    list-style: none;
    display: inline-block;
    margin: 60px;

    
 }

 nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
 }

.quicksongs {
    background: #33383b;
    color: #fefefe;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
    width: 40%;


    line-height: 25px;
    border: 1px solid #666;
    text-decoration: none;
    margin-top: 10px;
    vertical-align: middle;
    box-sizing: border-box;


}

.bolly {
    background-color: rgb(181, 247, 82);
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 1000px;
    margin: auto;
    margin-top: 10px;



}


.letestsongs{
    color: white;
padding-top:10px;
margin-left: 5px;
}
.viewall{
    margin-bottom:40px;
    color: white;
    background-color: red;
    position: absolute;
    Right:0;
    

}



.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 150px;
    background: #d5cece;
    text-align: center;
    font-size: 15;
    float: left;
    margin: 20px;

}
